/* ################################################################## */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ GLOBAL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ################################################################## */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SELECTMANIA ELEMENT */

.select-mania-theme-red .select-mania-inner { border:1px solid #D6D6D6; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SELECTED VALUES */

.select-mania-theme-red .select-mania-value {
	background-color: #FF4545;
	color: white;
}

.select-mania-theme-red.select-mania.select-mania-multiple .select-mania-value { border: 1px solid #FF4545; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DROPDOWN */

.select-mania-theme-red .select-mania-dropdown { border:1px solid #D6D6D6; }


.select-mania-theme-red .select-mania-dropdown-search-input {
	border:1px solid #D6D6D6;
	color: #5A5A5A;
}

.select-mania-theme-red .select-mania-dropdown-item:hover { background:#FFDEE2; }

.select-mania-theme-red .select-mania-dropdown-item.select-mania-selected {
	background: #FF4545;
	color: white;
}
