/* ################################################################## */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ICONES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ################################################################## */

@charset "UTF-8";

@font-face {
	font-family: "select-mania-font";
	src:url("fonts/select-mania-font.eot");
	src:url("fonts/select-mania-font.eot?#iefix") format("embedded-opentype"),
	url("fonts/select-mania-font.woff") format("woff"),
	url("fonts/select-mania-font.ttf") format("truetype"),
	url("fonts/select-mania-font.svg#select-mania-font") format("svg");
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: "select-mania-font" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
	display:inline-block;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "select-mania-font" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
	content: "\61";
}
.icon-cross:before {
	content: "\63";
}
.icon-loading:before {
	content: "\6c";
}

@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.icon-loading-container {
	display:inline-block;
	width:32px;
	height:32px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	font-size:2rem;
}
.icon-loading-container .icon-loading {
	width:32px;
	height:32px;
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
}

/* ################################################################## */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ GLOBAL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ################################################################## */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ORIGINAL SELECT */

.select-mania-original {
	display:none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SELECTMANIA ELEMENT */

.select-mania {
	display:inline-block;
	position:relative;
	width:100%;
	margin:auto;
	background:white;
	vertical-align:middle;
}

.select-mania, 
.select-mania * {
	box-sizing:border-box;
}

.select-mania, 
.select-mania *:not(.select-mania-dropdown-search-input) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.select-mania-inner {
	width:100%;
	min-height:42px;
	font-size:0;
	padding:6px;
	border:1px solid #D6D6D6;
	border-radius:4px;
	cursor:pointer;
}

.select-mania-values, 
.select-mania-value, 
.select-mania-value-text, 
.select-mania-value-clear, 
.select-mania-clear, 
.select-mania-arrow {
	display:inline-block;
	vertical-align:middle;
}

.select-mania-hidden {
	display:none !important;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SELECTED VALUES */

.select-mania-values {
	width:calc(100% - 48px);
	min-height:26px;
	padding-right:4px;
	font-size:0;
	text-align:left;
}

.select-mania-value {
	width:auto;
	max-width:100%;
	height:26px;
	border-radius: 4px;
	margin-top:1px;
	margin-bottom:1px;
	margin-right:4px;
	padding: 0 2px;
	font-size:0;	
}
.select-mania.select-mania-multiple .select-mania-value {
	border: 1px solid #047DE2;

	background-color: #047DE2;
	color: white;
}

.select-mania-value-text {
	height:26px;
	padding:4px;
	font-size:1rem;
	text-align:left;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.select-mania.select-mania-multiple .select-mania-value-text {
	max-width:calc(100% - 22px);
}

.select-mania-value-clear {
	display:none;
}
.select-mania.select-mania-multiple .select-mania-value-clear {
	display:inline-block;
	width:22px;
	height:26px;
	padding:4px;
	font-size:1rem;
	text-align:center;
}
.select-mania-value-clear i {
	line-height:18px;
	font-size:0.9rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PLACEHOLDER */

.select-mania-placeholder {
	display:none;
	width:auto;
	height:26px;
	padding:4px;
	font-size:1rem;
	color:#7F8C8D;
}
.select-mania-placeholder:only-child {
	display:inline-block;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CLEAN VALUES ICON */

.select-mania-clear {
	width:24px;
	font-size:1rem;
	text-align:center;

	color: #EB1F38;
}
.select-mania-clear i {
	font-size:1.1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ARROW ICON */

.select-mania-arrow {
	width:24px;
	font-size:1rem;
	text-align:center;

	color: #383838;
}
.select-mania-arrow i {
	font-size:1.1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DROPDOWN */

.select-mania-dropdown {
	background:white;
	z-index:9;
	display:none;
	position:absolute;
	top:100%;
	width:100%;
	padding:6px;
	border:1px solid #D6D6D6;
	border-radius:4px;
}

.select-mania-dropdown-search {
	width:100%;
	margin-bottom:6px;
}

.select-mania-dropdown-search-input {
	width:100%;
	padding:6px;
	border-radius:4px;
	font-size:1rem;
	border:1px solid #D6D6D6;
	color: #5A5A5A;
	outline:none;
	background-image:none;
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.select-mania-items-container {
	position:relative;
	width:100%;
	max-height:200px;
}

.select-mania-items {
	width:100%;
	max-height:200px;
	overflow-y:auto;
}

.select-mania-item {
	width:100%;
	min-height:20px;
	padding:6px;
	border-radius:4px;
	font-size:1rem;
	cursor:pointer;
	text-align:left;
}
.select-mania-item:hover {
	background:#E3F1FC;
}
.select-mania-item:empty[data-value=""] {
	display:none;
}

.select-mania-item.select-mania-selected {
	background: #047de2;
	color: white;
}
.select-mania.select-mania-multiple .select-mania-item.select-mania-selected {
	display:none;
}

/* ################################################################## */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ TAILLE SMALL ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ################################################################## */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ GLOBAL */

.select-mania-small .select-mania-inner {
	min-height:34px;
	padding:4px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SELECTED VALUES */

.select-mania-small .select-mania-values {
	width:calc(100% - 44px);
	min-height:24px;
}

.select-mania-small .select-mania-value {
	height:22px;
}

.select-mania-small .select-mania-value-text {
	height:20px;
	padding:3px;
	font-size:0.8rem;
}
.select-mania-small.select-mania-multiple .select-mania-value-text {
	max-width:calc(100% - 20px);
}

.select-mania.select-mania-multiple.select-mania-small .select-mania-value-clear {
	width:20px;
	height:20px;
	padding:3px;
}
.select-mania-small .select-mania-value-clear i {
	line-height:14px;
	font-size:0.9rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PLACEHOLDER */

.select-mania-small .select-mania-placeholder {
	height:20px;
	padding:4px;
	font-size:0.8rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CLEAN VALUES ICON */

.select-mania-small .select-mania-clear {
	width:22px;
}
.select-mania-small .select-mania-clear i {
	font-size:1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ARROW ICON */

.select-mania-small .select-mania-arrow {
	width:22px;
}
.select-mania-small .select-mania-arrow i {
	font-size:1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DROPDOWN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.select-mania-small .select-mania-dropdown {
	padding:4px;
}

.select-mania-small .select-mania-dropdown-search {
	margin-bottom:4px;
}

.select-mania-small .select-mania-dropdown-search-input {
	padding:4px;
	font-size:0.8rem;
}

.select-mania-small .select-mania-item {
	min-height:16px;
	padding:4px;
	font-size:0.8rem;
}

/* ################################################################## */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ TAILLE LARGE ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ################################################################## */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ GLOBAL */

.select-mania-large .select-mania-inner {
	min-height:52px;
	padding:8px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SELECTED VALUES */

.select-mania-large .select-mania-values {
	width:calc(100% - 56px);
	min-height:32px;
}

.select-mania-large .select-mania-value {
	height:32px;
}

.select-mania-large .select-mania-value-text {
	height:32px;
	padding:4px;
	font-size:1.1rem;
}
.select-mania-large.select-mania-multiple .select-mania-value-text {
	max-width:calc(100% - 26px);
}

.select-mania.select-mania-multiple.select-mania-large .select-mania-value-clear {
	width:26px;
	height:32px;
	padding:4px;
}
.select-mania-large .select-mania-value-clear i {
	line-height:24px;
	font-size:1.1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PLACEHOLDER */

.select-mania-large .select-mania-placeholder {
	height:32px;
	padding:6px;
	font-size:1.1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CLEAN VALUES ICON */

.select-mania-large .select-mania-clear {
	width:28px;
}
.select-mania-large .select-mania-clear i {
	font-size:1.2rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ARROW ICON */

.select-mania-large .select-mania-arrow {
	width:28px;
}
.select-mania-large .select-mania-arrow i {
	font-size:1.2rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DROPDOWN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.select-mania-large .select-mania-dropdown {
	padding:8px;
}

.select-mania-large .select-mania-dropdown-search {
	margin-bottom:8px;
}

.select-mania-large .select-mania-dropdown-search-input {
	padding:8px;
	font-size:1.1rem;
}

.select-mania-large .select-mania-item {
	min-height:24px;
	padding:8px;
	font-size:1.1rem;
}